body {
  font-family: 'Oswald', sans-serif;
  display: flex;
}
.leftcontainer {
  width: 20vw;
  height: 100vh;
  background-color: hsl(0,0%,40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.logo {
  width: 16vw;
  height: 16vw;
  margin-top: 8vh;
  margin-left: -0.5vw;
}

.maininfo {
  font-size: 2vw;
  margin-top: 5vw;
}

.introinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3%;
}

.namecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  font-size: 4vw;
  margin-bottom: -3vw;
}
.mobilename {
  display: none;
}

.leftdivider {
  width: 8vw;
  height: .75vh;
  background-color: white;
  margin-top: 4vw;
}

.rightdivider {
  width: 1vh;
  height: 30vh;
  background-color: hsl(0,0%,40%);
  margin-top: 10vh;
}

.upperrightdivider {
  width: .5vh;
  height: 30vh;
  background-color: hsl(0,0%,40%);
  margin-top: 10vh;
}

.contactinfo {
  margin-left: 3vw;
}

.toprightcontainer {
  height: 50vh;
  width: 80vw;
  /*border-bottom: 1px solid hsl(0,0%,40%);*/
  display: flex;
}

.aboutcontainer {
  height: 40vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  padding-right: 3vw;
}


.bottomrightcontainer {
  height: 50vh;
  width: 80vw;
}

.projectscontainer {
  display: flex;
  overflow-x:scroll;
  overflow-y: visible;
  display: flex;
  margin-top: -3.1vh;
}
.project{
  width: 25vw;
  height: 50vh;
  padding-left: 3vw;
  display: flex;
  /*overflow-y: scroll;*/
}

.projectinfo {
  margin-right: 3vw;
}
.projectimage {
  width: 18vw;
}
.projectlabel {
  margin-top: -6.1vh;
  margin-left: 3vw;
}

.imagecontainer {
  height:17.5vh;
  overflow-y: hidden;
}

.aboutme {
  margin-top: -1vh;
}

.aboutme2 {
  margin-top: -.1vh;
}

.arrow {
  background-color: hsla(0,0%,40%,0.3);
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  position: fixed;
  top: 67vh;
  right: 3.5vw;
}

.arrowimg {
  height: 4vw;
  width: 2.5vw;
  position: fixed;
  top: 68.5vh;
  right: 5.1vw;
}

@media(max-width: 1150px) and (min-width: 736px) {
  p {
    font-size: 1.75vh;
  }
  .arrow {
    position: fixed;
    right: 3;
  }
}

@media(max-width: 735px) {
  p {
    font-size: 1.5vh;
  }
  .arrow {
    position: fixed;
    right: 2.2;
  }
}


@media(max-width: 425px){
  body {
    flex-direction: column;
  }
  .leftcontainer {
    width: 100vw;
    height: 45vh;
    background-color: hsl(0,0%,40%);
    display: flex;
    flex-direction: column;
    color: white;
  }
  .logo {
    width: 60vw;
    height: 60vw;
    margin-top: 2vh;
    margin-left: -0.5vw;
  }
  .namecontainer {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    margin-top: 3vh;
  }
  .name {
    display: none;
    margin: 0;
  }
  .mobilename {
    font-size: 3vh;
    display: inline;
  }
  .leftdivider {
    /*width: 25vw;
    height: .75vh;
    background-color: white;
    margin-top: 5vh;*/
    display: none;
  }
  .maininfo {
    font-size: 3vh;
    margin-top: 3vh;
  }
  .toprightcontainer {
    height: 32vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .aboutcontainer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    font-size: 6vw;
  }
  .arrow {
    display: none;
  }
  .arrowimg {
    display: none;
  }
  .contactcontainer {
    display: none;
  }
  .projectlabel {
    margin-top: 1vh;
    margin-left: 3vw;
  }
  .projectscontainer {
    margin-top: -2vh;
    width: 100vw;
    flex-direction: column;
  }
  .imagecontainer {
    height:50.5vw;
    width: 80vw;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 2vh;
  }
  .projectimage {
    width: 80vw;
  }
  .project{
    width: 90vw;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    margin-left: 1vw;
    height: auto;
  }

  .projectinfo {
    margin-right: 3vw;
  }
  .bottomrightcontainer {
    height: 50vh;
    width: 90vw;
  }
  .rightdivider, .upperrightdivider {
    display: none;
  }

  p {
    font-size: 2.9vw;
  }
}
